h4{
    /* color: blue; */
}
a{
    /* text-decoration: none; */
}
div{
    /* background-color: aquamarine; */
    /* border: 10px; */
    /* color: brown; */
    /* border-radius: 2%; */
    /* margin: 10px; */
    /* padding: 20px; */
}
header{
    /* width: 100px; */
}
.div
{
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}